<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/ARMWilkinsonDevBlog/"/>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {

                    colors: {
                        primary: tailwind.colors.white
                    },
                },},
                }
    </script>


    <HeadOutlet/>
</head>

<body class="bg-black font-sans text-white">
<Routes/>
</body>

</html>
